<template>
  <div>
    <h3>
      Reatividade com intervalos de números - Vue
    </h3>
    <div>
      <div>
        <label>
          Contador
          <input
            type="number"
            min="1"
            max="200"
            v-model="currentValue"
          >
        </label>
      </div>

      <ul>
        <li
          v-for="divisor in divisors"
          :key="divisor"
        >
          Números divisíveis por {{ divisor }}:
          <span
            v-for="number in getDivisiveisPor(divisor)"
            :key="number"
          >{{ number + ' ' }}</span>
            </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',

  created() {
    this.divisors = [2, 3, 4, 5, 6, 7, 8, 9];
  },

  data() {
    return {
      currentValue: 1
    }
  },

  methods: {
    getDivisiveisPor(num) {
      const numbers = [];

      for (let i = 1; i <= this.currentValue; i++) {
        if (i % num === 0) {
          numbers.push(i);
        }
      }

      return numbers;
    },
  }
}
</script>

<style>
body {
  padding: 20px;
}
</style>
